.btn-primary,
.btn-secondary,
.btn-light,
.btn-lighter {
  display: inline-block;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.75rem 1.5rem;
  border: 1px solid var(--dark-color-lighter);
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  &:hover {
    filter: brightness(1.1);
  }
  &:disabled {
    background-color: var(--secondary-light);
    color: var(--secondary-darker);
    cursor: not-allowed;
    opacity: 0.6;
  }
  &:active {
    filter: brightness(0.9);
  }
}

.btn-primary {
  background-color: var(--primary);
  color: var(--white);
}

.btn-secondary {
  background-color: var(--secondary);
  color: var(--white);
}
.btn-light {
  background-color: var(--secondary-light);
  color: var(--secondary-darker);
}
.btn-lighter {
  background-color: var(--secondary-lighter);
  color: var(--secondary-darker);
}

/* ### LINKS ### */
.btn-link {
  background: none;
  border: none;
  color: var(--primary);
  text-decoration: underline;
  cursor: pointer;
  padding: 0;
  &:hover {
    color: var(--primary-lighter);
  }
  &:active {
    color: var(--primary);
  }
  &:focus {
    outline: var(--primary-color-lighter) 1px solid;
  }
  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
}
