.btn-primary,
.btn-secondary,
.btn-light,
.btn-lighter {
  display: inline-block;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0 2px 4px oklch(from var(--secondary-darker) l c h / 0.1);
  transition: background-color 0.3s ease, color 0.3s ease;
  &:hover {
    filter: brightness(0.9);
  }
  &:disabled {
    background-color: var(--secondary-light);
    color: var(--secondary-darker);
    border-color: var(--secondary-light);
    cursor: not-allowed;
    opacity: 0.6;
  }
  &:active {
    filter: brightness(0.8);
  }

  &:focus-visible {
    outline: 2px solid var(--secondary-darker);
    outline-offset: 2px;
  }
}

.btn-primary {
  background-color: var(--primary);
  color: var(--white);
  border: 1px solid var(--primary);
}

.btn-secondary {
  background-color: var(--secondary);
  color: var(--white);
  border: 1px solid var(--secondary);
}
.btn-light {
  background-color: var(--secondary-light);
  color: var(--secondary-darker);
  border: 1px solid var(--secondary-light);
}
.btn-lighter {
  background-color: var(--secondary-lighter);
  color: var(--secondary-darker);
  border: 1px solid var(--secondary-lighter);
}

/* ### LINKS ### */
.btn-link {
  background: none;
  border: none;
  color: var(--primary);
  text-decoration: underline;
  cursor: pointer;
  padding: 0;
  &:hover {
    color: var(--primary-lighter);
  }
  &:active {
    color: var(--primary);
  }
  &:focus {
  }
  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
  &:focus-visible {
    outline: 2px solid var(--secondary-darker);
    outline-offset: 2px;
  }
}
