body {
  color: var(--secondary);
  font-family: var(--body-font-family);
  font-weight: 400;
}

/* Font utility classes */
.tex-gyre-heros-bold {
  font-family: "tex_gyre_herosbold", "Arial Narrow", sans-serif;
}

.tex-gyre-heros-cn-regular {
  font-family: "tex_gyre_heros_cnregular", "Arial Narrow", sans-serif;
}

.tex-gyre-heros-cn-bold {
  font-family: "tex_gyre_heros_cnbold", "Arial Narrow", sans-serif;
}

.tex-gyre-heros-cn-italic {
  font-family: "tex_gyre_heros_cnitalic", "Arial Narrow", sans-serif;
}

.tex-gyre-heros-cn-bold-italic {
  font-family: "tex_gyre_heros_cnbold_italic", "Arial Narrow", sans-serif;
}

.tex-gyre-heros-regular {
  font-family: "tex_gyre_herosregular", "Arial Narrow", sans-serif;
}

.tex-gyre-heros-italic {
  font-family: "tex_gyre_herositalic", "Arial Narrow", sans-serif;
}

.tex-gyre-heros-bold-italic {
  font-family: "tex_gyre_herosbold_italic", "Arial Narrow", sans-serif;
}

.helvetica-neue {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.helvetica-neue-condensed {
  font-family: "Helvetica Neue Condensed", "Helvetica Neue", "Helvetica",
    "Arial Narrow", sans-serif;
}

.helvetica-neue-extended {
  font-family: "Helvetica Neue Extended", "Helvetica Neue", "Helvetica", "Arial",
    sans-serif;
}

.helvetica-neue-thin-condensed {
  font-family: "Helvetica Neue Thin Condensed", "Helvetica Neue Condensed",
    "Arial Narrow", sans-serif;
}

.helvetica-neue-medium-condensed {
  font-family: "Helvetica Neue Medium Condensed", "Helvetica Neue Condensed",
    "Arial Narrow", sans-serif;
}

.helvetica-neue-heavy-condensed {
  font-family: "Helvetica Neue Heavy Condensed", "Helvetica Neue Condensed",
    "Arial Narrow", sans-serif;
}

/* ### Headings #### */
h1,
.h1 {
  font-family: "Helvetica Neue", "Arial Narrow", Arial, sans-serif;
  font-size: 2rem;
  font-weight: 700;
}
h2,
.h2 {
  font-family: "Helvetica Neue", "Arial Narrow", Arial, sans-serif;
  font-size: 1.625rem;
  font-weight: 700;
}

h3,
.h3 {
  font-family: "Helvetica Neue", "Arial Narrow", Arial, sans-serif;
  font-size: 1.375rem;
  font-weight: 700;
}
h4,
.h4 {
  font-family: "Helvetica Neue", "Arial Narrow", Arial, sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
}
h5,
.h5 {
  font-family: "Helvetica Neue", "Arial Narrow", Arial, sans-serif;
  font-size: 1rem;
  font-weight: 700;
}
h6,
.h6 {
  font-family: "Helvetica Neue", "Arial Narrow", Arial, sans-serif;
  font-size: 0.75rem;
  font-weight: 700;
}

@media (min-width: 48rem) {
  h1,
  .h1 {
    font-size: 2.5rem;
  }
  h2,
  .h2 {
    font-size: 2rem;
  }
  h3,
  .h3 {
    font-size: 1.5rem;
  }
  h4,
  .h4 {
    font-size: 1.125rem;
  }
}

@media (min-width: 64rem) {
  h1,
  .h1 {
    font-size: 3rem;
  }
  h2,
  .h2 {
    font-size: 2.25rem;
  }
  h3,
  .h3 {
    font-size: 1.75rem;
  }
  h4,
  .h4 {
    font-size: 1.125rem;
  }
}

/* ### LINKS ### */

a {
  color: var(--primary);
  text-decoration: none;
  &.arrow-after::after {
    content: "→";
    margin-left: 0.25rem;
    display: inline-block; /* fixes underline bleed */
    text-decoration: none; /* removes underline */
    color: var(--secondary);
  }
}
a:visited {
  color: var(--primary);
}
a:active {
  color: var(--primary-darker);
}

a:hover {
  text-decoration: underline;
  color: var(--primary-light);
}

a:focus {
  outline: 2px solid var(--secondary-darker);
  outline-offset: 2px;
}
a:focus-visible {
  outline: 2px solid var(--secondary-darker);
  outline-offset: 2px;
}
