body > footer {
  /* todo: fix height and container height */
  background-color: var(--secondary);
  color: var(--white);
  height: auto; /*var(--footer-height);*/
  margin-top: 2em;
  font-size: 0.8rem;
  padding: 2rem 0;
  .footer-content-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
    @media (min-width: 48rem) {
      flex-direction: row;
      justify-content: space-between;
    }
    .footer-logo {
      width: 7.375rem;
      height: 5.875rem;
      background-image: url("../img/5068_LO_GU_cen2rNEG.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
    .footer-info,
    footer-links {
      > div {
        font-weight: bold;
        font-size: 1rem;
      }
    }
    .footer-info {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
    .footer-links {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      a {
        color: var(--white);
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
        &:visited {
          color: var(--white);
        }
        &:active {
          color: var(--primary-light);
        }
        &:focus {
          outline: 2px solid var(--white);
          outline-offset: 2px;
        }
        &:focus-visible {
          outline: 2px solid var(--white);
          outline-offset: 2px;
        }
      }
    }
  }
}

footer .footer-links > div,
footer .footer-info > div {
  font-weight: bold;
  font-size: 1rem;
}
