header {
  height: var(--header-height);
  border-bottom: 1px solid var(--secondary-lighter);
  .container {
    height: 100%;
  }
  .header-content-wrapper {
    display: flex;
    justify-content: space-between;

    .header-left {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;
      font-family: "Helvetica Neue Condensed", "Arial Narrow", sans-serif;
      .header-logo {
        align-self: flex-start;
        height: 5.375rem;
        width: 5.25rem;
        flex-shrink: 0;
        background-image: url("../img/5110_GU_logo_flag_eng_RGB.png");
        background-size: 100% auto;
        background-position: center;
        background-repeat: no-repeat;
        @media (min-width: 48rem) {
          height: 6.875rem;
          width: 6.75rem;
        }
      }

      .header-site-description {
        margin: 0;
        color: var(--dark-color-light);
        .header-title {
          font-size: 1rem;
          text-transform: uppercase;
          font-weight: 700;
          a {
            color: var(--secondary-darker);
            text-decoration: none;
          }
          a:hover {
            color: var(--secondary);
            text-decoration: underline;
          }
          @media (min-width: 48rem) {
            font-size: 1.5rem;
          }
        }
        .header-description {
          font-size: 0.875rem;
          @media (min-width: 48rem) {
            font-size: 1rem;
          }
        }
      }
    }
    .header-right {
      padding-top: 1rem;
      .lang a {
        color: var(--dark-color);
        text-decoration: none;
        padding: 2px 6px;
        border-radius: 2px;
      }
    }
  }
}
