/* Helvetica Neue Font Faces */

/* Helvetica Neue - Ultra Light */
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeueUltraLight.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeueUltraLightItal.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

/* Helvetica Neue - Thin */
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue-Thin.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue-ThinItalic.otf") format("opentype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

/* Helvetica Neue - Light */
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeueLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeueLightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Helvetica Neue - Roman (Regular) */
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue-Roman.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeueItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Helvetica Neue - Medium */
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeueMedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Helvetica Neue - Bold */
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeueBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeueBoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* Helvetica Neue - Heavy */
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue-Heavy.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue-HeavyItalic.otf") format("opentype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

/* Helvetica Neue - Black */
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Helvetica Neue - Condensed Variants */
@font-face {
  font-family: "Helvetica Neue Condensed";
  src: url("../fonts/HelveticaNeue-Condensed.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue Condensed";
  src: url("../fonts/HelveticaNeue-CondensedObl.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue Condensed";
  src: url("../fonts/HelveticaNeueCondensedBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue Condensed";
  src: url("../fonts/HelveticaNeue-BoldCondObl.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue Condensed";
  src: url("../fonts/HelveticaNeueCondensedBlack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue Condensed";
  src: url("../fonts/HelveticaNeue-BlackCond.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue Condensed";
  src: url("../fonts/HelveticaNeue-BlackCondObl.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

/* Helvetica Neue - Extended Variants */
@font-face {
  font-family: "Helvetica Neue Extended";
  src: url("../fonts/HelveticaNeue-Extended.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue Extended";
  src: url("../fonts/HelveticaNeue-ExtendedObl.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue Extended";
  src: url("../fonts/HelveticaNeue-BoldExt.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue Extended";
  src: url("../fonts/HelveticaNeue-BoldExtObl.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* Helvetica Neue - Thin Condensed */
@font-face {
  font-family: "Helvetica Neue Thin Condensed";
  src: url("../fonts/HelveticaNeue-ThinCond.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue Thin Condensed";
  src: url("../fonts/HelveticaNeue-ThinCondObl.otf") format("opentype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

/* Helvetica Neue - Medium Condensed */
@font-face {
  font-family: "Helvetica Neue Medium Condensed";
  src: url("../fonts/HelveticaNeue-MediumCond.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue Medium Condensed";
  src: url("../fonts/HelveticaNeue-MediumCondObl.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

/* Helvetica Neue - Heavy Condensed */
@font-face {
  font-family: "Helvetica Neue Heavy Condensed";
  src: url("../fonts/HelveticaNeue-HeavyCond.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue Heavy Condensed";
  src: url("../fonts/HelveticaNeue-HeavyCondObl.otf") format("opentype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

/* Legacy Helvetica variants */
@font-face {
  font-family: "Helvetica";
  src: url("../fonts/HelveticaBlkIt.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Light";
  src: url("../fonts/helvetica-46-light-italic-587ebdb0ea724.ttf")
    format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Light Condensed";
  src: url("../fonts/helvetica-47-light-condensed-587ebd7b5a6f6.ttf")
    format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Bold Outline";
  src: url("../fonts/helvetica-75-bold-outline-587ebe00b76ba.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
