@import url("helvetica-fontface.css");
@import url("https://assets.ub.gu.se/fonts/tex_gyre_heros/fonts.css");
@import url("fonts.css");
@import url("vars.css");
@import url("colors.css");
@import url("buttons.css");
@import url("hero.css");
@import url("search.css");
@import url("layout.css");
@import url("nav.css");
@import url("header.css");
@import url("footer.css");
