.fix-viewport-height {
  min-height: calc(
    100vh - var(--header-height) - var(--footer-height)
  ); /*TODO: NEEDS FIX and research how to achieve this */
}

/* ### main navigation styles ### */
#main-navigation ul {
  margin: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
  font-size: 1.25rem;
  font-weight: bold;
  gap: 1rem;
  padding: 1rem;
  white-space: nowrap;

  @media (min-width: 48rem) {
    flex-direction: row;
    border-bottom: none;
    flex-wrap: wrap;
    align-items: center;
  }
  li a svg {
    display: none;
  }
  li {
    @media (min-width: 48rem) {
      &:first-child {
        svg {
          display: inline-block;
          margin-right: 0.5rem;
        }
      }
    }

    a {
      text-decoration: none;
      color: var(--gray-color-dark);
    }
    a:hover {
      text-decoration: underline;
    }
  }
}
