#search-bar {
  display: flex;
  height: 4rem;
  cursor: pointer;
  user-select: none;
  border: 1px solid var(--secondary-lighter);
  overflow: hidden; /* make sure rounded corners work */
  border-radius: 4px;

  .search-box {
    overflow: hidden;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0;
    input {
      background-color: transparent;
      border: none;
      height: 100%;
      width: 100%;
      padding: 1rem;
      &:focus-visible {
        outline: var(--primary-lighter) 1px solid;
      }
    }
    button:hover {
      color: var(--primary);
    }
  }
}
