:root {
  /* Fallbacks for browsers that do not support oklch */

  /* Base colors */
  --primary: #005f99;
  --secondary: #333333;
  --warning: #ffcc00;
  --success: #009933;
  --error: #cc3300;
  --call-to-action: #ff6600;
  --white: #ffffff;
  /* ---------- LIGHT MODE ---------- */

  /* Primary */
  --primary-lighter: #4da6ff;
  --primary-light: #3399ff;
  --primary-darker: #004d80;
  --primary-muted: #001a33;

  /* Secondary */
  --secondary-lighter: #666666;
  --secondary-light: #4d4d4d;
  --secondary-darker: #1a1a1a;
  --secondary-muted: #0d0d0d;

  /* Warning */
  --warning-lighter: #ffdd33;
  --warning-light: #ffdd00;
  --warning-darker: #ccaa00;
  --warning-muted: #332600;

  /* Success */
  --success-lighter: #4dff88;
  --success-light: #33ff66;
  --success-darker: #006622;
  --success-muted: #001a0d;

  /* Error */
  --error-lighter: #ff6666;
  --error-light: #ff4d4d;
  --error-darker: #800000;
  --error-muted: #330000;

  /* Call-To-Action */
  --cta-lighter: #ff9966;
  --cta-light: #ff8533;
  --cta-darker: #803300;
  --cta-muted: #331100;

  @supports ((color: oklch(0% 0 0))) {
    /* Base colors */
    --primary: oklch(56% 0.158 240);
    --secondary: oklch(30% 0 0);
    --warning: oklch(84% 0.1642 85);
    --success: oklch(56% 0.1642 138);
    --error: oklch(56% 0.1642 26);
    --call-to-action: oklch(58% 0.230868 13);
    --white: oklch(100% 0 0);

    /* ---------- LIGHT MODE ---------- */

    /* Primary */
    --primary-lighter: oklch(from var(--primary) 0.8 c h);
    --primary-light: oklch(from var(--primary) 0.7 c h);
    --primary-darker: oklch(from var(--primary) 0.4 c h);
    --primary-muted: oklch(from var(--primary) l 0.08 h);

    /* Secondary */
    --secondary-lighter: oklch(from var(--secondary) 0.8 c h);
    --secondary-light: oklch(from var(--secondary) 0.7 c h);
    --secondary-darker: oklch(from var(--secondary) 0.1 c h);
    --secondary-muted: oklch(from var(--secondary) l 0.01 h);

    /* Warning */
    --warning-lighter: oklch(from var(--warning) 0.95 c h);
    --warning-light: oklch(from var(--warning) 0.9 c h);
    --warning-darker: oklch(from var(--warning) 0.75 c h);
    --warning-muted: oklch(from var(--warning) l 0.05 h);

    /* Success */
    --success-lighter: oklch(from var(--success) 0.8 c h);
    --success-light: oklch(from var(--success) 0.7 c h);
    --success-darker: oklch(from var(--success) 0.4 c h);
    --success-muted: oklch(from var(--success) l 0.03 h);

    /* Error */
    --error-lighter: oklch(from var(--error) 0.8 c h);
    --error-light: oklch(from var(--error) 0.7 c h);
    --error-darker: oklch(from var(--error) 0.4 c h);
    --error-muted: oklch(from var(--error) l 0.03 h);

    /* Call-To-Action */
    --cta-lighter: oklch(from var(--call-to-action) 0.8 c h);
    --cta-light: oklch(from var(--call-to-action) 0.7 c h);
    --cta-darker: oklch(from var(--call-to-action) 0.4 c h);
    --cta-muted: oklch(from var(--call-to-action) l 0.03 h);
  }

  /* ##### typography variables ##### */
  --header-height: 9rem;
  --footer-height: 10rem;

  /* ##### breakpoints ##### */
  --breakpoint-medium: 48rem;
  --breakpoint-large: 64rem;
}
